@import url(/commonstyle.css);



.logo > .links{
    color: var(--text-color);
}
.logo > .links:hover{
    color: var(--text-color);
}

.btn{
    font-size: 1.5rem;
    padding: 0.8rem 1.5rem;
}
.login-container{
    min-height: 88vh;
}

.btn-submit{
    background-color: var(--primary-color);
}
.btn-submit:hover{
    background-color: var(--primary-color);
}
.links{
    font-size: small;
    color: var(--primary-color);
}
.links:hover{
    color: var(--primary-color);
}

.forgot-link{
    margin-top: 0.5rem;
}