@import url(/commonstyle.css);
 

.container{
    flex-direction: column;
}
 

.lists{
    color: var(--text-color);
    margin: 0.5rem 0;
}
.guide-container{
    flex-direction: column;
    text-align: center;
    margin-top: 1rem;
    padding: 1rem;
}
.guide-container img{
    margin-top: 2rem;
    width: 12rem;
}

