@import "../../styles/variable.module.scss";

.questionPage {
  @include page-margin;
  height: calc(100vh - 115px);

  display: flex;
  justify-content: space-between;

  .left,
  .right {
    // border: 1px solid;
    padding: 0 10px;
  }

  .left {
    width: 60%;
    // width: ;

    border-right: 1px solid $border-color;
    position: relative;

    .currentQuestion {
      .label {
        font-size: 1.4rem;
        font-weight: 500;
        overflow: hidden;
        word-wrap: break-word;
        margin-bottom: 15px;
        span {
          font-weight: 900;
          color: $primary-color;
        }
      }
    }

    .questionNavigation {
      @include display-flex;
      justify-content: space-between;
      position: absolute;
      bottom: 100px;
      width: calc(100% - 24px);

      button {
        @include primary-btn;
        width: 100px !important;
      }

      .btnPrev {
        @include secondary-btn;

        &.btnDisabled {
          @include disabled-btn;
        }
      }
    }
  }

  .right {
    width: 40%;
    border-left: 1px solid $border-color;
  }
}
