@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Open+Sans:wght@300;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Round");
@import url("https://binary-ui.netlify.app/components/CDN.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

:root {
  --primary-color: #141e2c;
  --secondary-bg: #0b121b;
}

li {
  list-style-type: none;
}
