$primary-color: #0e72c9;
$border-color: #0000001f;
$subtext-color: #353535f3;
$headings-color: #282828;
$primary-transparent: #0e72c90f;
$white: #fff;
$defautl-border-radius: 15px;

$smooth-boxShadow: 0.9px 2.8px 4.2px #00000067, 2.2px 6.7px 5.3px #0000005d,
  4.1px 12.5px 10px #00000009, 7.4px 22.3px 17.9px #0000000b,
  13.8px 41.8px 33.4px #0000000d, 33px 100px 80px #00000012;
$border-radius: 15px;
$secondar-text: #808080f1;

@mixin icons {
  color: $primary-color;
  font-size: 1.5rem;
}

@mixin display-flex {
  display: flex;
}
@mixin flex-justify-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin display-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin input {
  padding: 10px 10px;
  width: 100%;
  // border: none;
  outline: none;
  border-radius: 10px;
  border: 1px solid $border-color;
}

@mixin primary-btn {
  color: $white;
  background-color: $primary-color;
  border: 1px solid $border-color;
  padding: 10px 10px;
  width: 100%;
  // border: none;
  outline: none;
  border-radius: 10px;
}

@mixin secondary-btn {
  color:  $primary-color;
  background-color: transparent;
  border: 1px solid  $primary-color;
  padding: 10px 10px;
  width: 100%;
  // border: none;
  outline: none;
  border-radius: 10px;
}

@mixin page-margin {
  margin: 15px 0;
}

@mixin titles {
  font-weight: 700;
  font-size: 1.3rem;
}
