@import "../../styles/variable.module.scss";

.loginForm {
  margin: 2rem 0;

  .inputField {
    margin-bottom: 30px;
    .formTitle {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }

    .formDescription {
      margin-bottom: 20px;
    }

    .input {
      @include input;
    }

    .formFooter {
      @include display-flex;
      justify-content: flex-start;
      .button {
        @include primary-btn;
        @include display-center;
        gap: 10px;
        width: 200px;
      }
    }
  }
}
