@import "../../styles/variable.module.scss";

.notFound {
  @include page-margin;
  height: calc(100vh - 115px);
  @include display-center;
div{
    text-align: center;
}
  button {
    @include primary-btn;
    margin-top: 15px;
    font-size: 0.9rem;
    width: fit-content;
  }
  div > h1,
  h2 {
    font-size: 2rem;
    text-align: center;
    
  }
}
