/*--For Fontfamily--*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700&display=swap");

:root {
  --body-bg: #f7f7f7;
  --font-family: "Open Sans", sans-serif;
  --heading-color: #282828;
  --primary-color: #0e72c9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

/* font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif; */

body {
  width: 100%;
  height: 100%;
  background-color: var(--body-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-size: 1rem;
  font-weight: 600;
}

input,
button {
  width: 100%;
  font-size: 1rem;
}

button {
  cursor: pointer;
}

button:hover{
  background-color: #09508f;
}
